/**
 * @name thema - dark edition - local
 * @version 1.2.2
 * @description by your boy Sander
 * @author Svh, schnensch0
 * @authorId 652801938374656013
 * @source https://github.com/schnensch0/zelk
 * @invite tMEcBhsNqA
*/


/**
 * @name thema
 * @author Sander#0101
 * @version 1.0.0
 * @description A little something extra special
 * @authorId 174868361040232448
 * @source https://github.com/DiscordStyles/SoftX
*/
/* ------- imports -------- */
@import url(https://skyfalir.github.io/css/themaremo.css);

/* Any custom CSS below here */



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url(local/Thema.css);
@import url('https://discordstyles.github.io/SoftX/RadialGlow.css');
@import url('https://discordstyles.github.io/SoftX/VerticalUserArea.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/zk9Fis7.png'); 
  --background-blur: 10px; /* Blur intensity of --background-image */
  --opacity: 0.4; /* Opacity of overall app. | Default: .85 */
  --accent: 255, 115, 0;/* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
  --glow-intensity: 0.8; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  --font: 'Montserrat'; /* Custom font | Default: 'Inter' */
  --channels-width: 16vw; /* Width of the channels list. | Default: 300px */
  --guilds-width: 90px; /* Width of the server list. | Default: 105px */
  --members-width: 17vw; /* Width of the members list. | Default: 280px */
  --server-size: 50px; /* Size of the servers inside the server list. | Default: 50px */
  --chat-avatar-size: 32px; /* Size of the chat avatars. | Default: 32px */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 2px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 2px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 2px; /* Ring width | Default: 1.5px */
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  --rs-online-color: #2bbb5b; /* Colour for online status */
  --rs-idle-color: #fad11a; /* Colour for idle status */
  --rs-dnd-color: #ee2525; /* Colour for dnd status */
  --rs-offline-color: #4c5663; /* Colour for offline status */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone */
  --rs-streaming-color: #7744d1; /* Colour for streaming status */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --rs-invisible-color: #8f8f8f; /* Colour for invisible status - Note: this will only show for your own invisibility */
}
.container-1-ERn5,
.sidebar-1tnWFu {
	background-color: var(--dark-c2);
	border-radius: var(--border-radius-1) !important;
	width: 20vw;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://discordstyles.github.io/SoftX/SoftX.css');
@import url('https://discordstyles.github.io/SoftX/RadialGlow.css');
@import url('https://discordstyles.github.io/SoftX/VerticalUserArea.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/Ac3lsAP.png'); 
  --background-blur: 0px; /* Blur intensity of --background-image */
  --opacity: 0.70; /* Opacity of overall app. | Default: .85 */
  --accent: 20, 170, 169; /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
  --glow-intensity: 1; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  --font: 'Montserrat'; /* Custom font | Default: 'Inter' */
  --channels-width: 300px; /* Width of the channels list. | Default: 300px */
  --guilds-width: 105px; /* Width of the server list. | Default: 105px */
  --members-width: 280px; /* Width of the members list. | Default: 280px */
  --server-size: 50px; /* Size of the servers inside the server list. | Default: 50px */
  --chat-avatar-size: 32px; /* Size of the chat avatars. | Default: 32px */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 2px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 2px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 2px; /* Ring width | Default: 1.5px */
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  --rs-online-color: #2bbb5b; /* Colour for online status */
  --rs-idle-color: #fad11a; /* Colour for idle status */
  --rs-dnd-color: #ee2525; /* Colour for dnd status */
  --rs-offline-color: #4c5663; /* Colour for offline status */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone */
  --rs-streaming-color: #7744d1; /* Colour for streaming status */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --rs-invisible-color: #8f8f8f; /* Colour for invisible status - Note: this will only show for your own invisibility */
}
.container-1-ERn5,
.sidebar-1tnWFu {
	background-color: var(--dark-c2);
	border-radius: var(--border-radius-1) !important;
	width: 20vw;
}
